
$main-bg: #1D2631;
$second-bg: #ffffff;
$third-bg: #f2f2f2;

$txt-orange: #FFC63A;
$txt-white: #ffffff;
$txt-black: #000000;
$txt-grey: #888B84;
$txt-main: #D3CECA;
$txt-hover: #2B9DDA;

$white: #ffff;
$black: #000;
