
.new-release {

    &__main {
        @include flex(flex-start, flex-start);
        background-color: $third-bg;
        border-radius: 10px;

        &__img {
            width: 25%;
            margin: 2rem;

            @include mobile {
                width: 50%;
            }

            img {
                border-radius: 15px;
                width: 100%;
                box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 20%);
            }
        }

        &__info {
            margin: 2rem 0;
            width: 75%;

            &__title {
                color: $txt-grey;
                font-size: 1.2rem;
                font-weight: 600;
                text-overflow: ellipsis;
                overflow: hidden !important; 
                white-space: nowrap;
            }

            &__artist {
                @include flex(flex-start,center);
                margin: .5rem 0;

                img {
                    width: 3.5rem;
                    border: 1px solid $black;
                    border-radius: 50%;
                    margin-right: 1rem;

                    @include mobile {
                        width: 2rem;
                    }
                }

                & > a {
                    h3 {
                        color: $txt-grey;
                        font-size: 1.1rem;
                        font-weight: 500;
                        cursor: pointer;

                        @include mobile {
                            font-size: 1rem;
                        }
                        
                        &:hover {
                            color: $txt-hover;
                        }
                    }
                } 
            }

            &__date {
                color: $txt-grey;
                font-size: 1.1rem;
                font-weight: 500;
                @include mobile {
                    font-size: 1rem;
                }
                
            }
        }
    }

    &__items {
        @include flex(center, center);
        gap: 1.5rem;
        margin: 2rem 0;
        flex-wrap: wrap;

        &__item {
            width: 10%;

            @include tablet {
                width: 12%;
            }

            @include mobile {
                width: 25%;
            }
        }
    }
}