
.header-chart {

    &__title {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: $txt-grey;
        text-align: center;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba($color: $txt-black, $alpha: .2);
    }

    &__menu {
        @include flex(center, center);
        gap: 2rem;
        margin-top: 1rem;

        &__item {

            a {
                color: $txt-grey;
                font-size: 1.2rem;

                &:hover {
                    color: $txt-hover;
                }
            }

            &.active {
                a {
                    color: $txt-hover;
                }
            }
        }
    }
}